textarea {
    border-radius: 1rem;
    padding: 10px;
}

.note {
    position: relative;
}

.note-header {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

button {
    border: 0;
    cursor: pointer;
}